*{
    margin:0;
    padding:0;
}

body{
  position:responsive;
  
}

#font{
	color:white;
}

#icon{
	color:#B1E8F1;
}

.ust{
	background-color:#000000;
	height:50px;
	
	top:0px;
	width:100%;
	margin-left:0px;
	
	
}

.ust .left{
	margin-left:10px;
	margin-top:8px;
	float:left;
}

.ust .right{
	float:right;
	margin-right:40px;
	margin-top:10px;
	
	height:40px;
	
}

.ust .right a{
    float: right;
	color: #f2f2f2;
	text-align: center;
	padding: 5px;
	text-decoration: none;
	font-size: 17px;  	
}

.yan{
	background-color:#2c3e50;
	height:1000px;
	width:17%;
	color:white;
	float:left;
}

.yan .menu{
	
	
	padding-left:12px;
	padding-top:7px;
	padding-bottom:7px;
	border-bottom:1px solid black;
}

.yan .altmenu{
	text-align:center;
	padding:5px;
	
	border-bottom:1px solid black;
}

.yan .sonmenu{
	
	margin-top:158px;
	padding-left:12px;
	padding-top:7px;
	padding-bottom:7px;
	border:1px solid black;
}

.orta1{
	width:83%;
	float:left;
	height:130px;
	background-color:#F8F9F9;
}

.orta1 .topmenuwiew{
	margin-left:20px;
	margin-top:5px;
}

.orta1 #icon{
	padding:10px;
	color:#0000ff;
}

.orta1 .title{
	margin-left:20px;
	margin-top:5px;
	font-size:20px;
	padding:10px;
	
	
}

.orta1 .search{
	float:right;
	margin-top:10px;
	margin-right:20px;
}

.kutu{
	background-color:#F8F9F9;
	height:140px;
	width:20%;
	float:left;
	padding:10px;
	margin:10px;
}

.kutu .explain{
	margin-top:7px;
	
	
}



.kutu .sticker{
	font-size:40px;
	float:left;
	margin-top:10px;
	color:#0000ff;
	
}
.kutu #icon{ 
color:#0000ff;
}
.kutu .icerik{
	margin-left:10px;
	width:75%;
	float:left;
	font-size:15px;
	margin-top:10px;
}